[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[user]
  name = Charles Hudson
  email = charles@bunch.capital
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[init]
  defaultbranch = main
[push]
  default = upstream
  autosetupremote = true
[branch]
  autosetupmerge = always
  autosetuprebase = always
[fetch]
  prune = true
[pull]
  rebase = true
